<h1>Welcome to OPENTEXT </h1>
<%= link_to image_tag('OT.png'), 'https://www.opentext.com' %>
<h3>Go to <%= link_to 'HOME', root_path %></h3>
<h3>Click here to go to <%= link_to 'official site', 'https://www.opentext.com' %></h3>